{% extends "layout.html" %}

{% block pageTitle %}
{{ serviceName }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
    <span class="govuk-phase-banner__text" style="padding-left: 345px; white-space: nowrap">
      English | <a href="#" class="govuk-link--no-visited-state">Cymraeg</a>
    </span>
  </p>
</div>
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <a href="#" class="govuk-back-link" style="margin-top: -10px" onclick="history.back(-1)">Back</a>

      <form action="8-submitted" method="post">
        <h1 class="govuk-heading-xl">Check your answers</h1>
        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">What's your response to the respondent's application?</th>
              <td class="govuk-table__cell">{{ data['response-details'] }}</td>
              <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href="4-respond">Change</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Supporting material</th>
              <td class="govuk-table__cell">
                {% if data['supporting-material'] === 'yes' %}
                <p class="govuk-body">  {{ data['supporting-details'] }}<br>
                  <a href="#" class="govuk-link govuk-link--no-visited-state">{{ data['respond-document'] }}</a></p>
                  {% else %}
                  <p class="govuk-body">Not provided</p>
                  {% endif %}</td>
              <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href="5-supporting-materials">Change</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Do you want to copy this correspondence to the other party to satisfy the Rules of Procedure?</th>
              <td class="govuk-table__cell">{{ data['rule-92-respond'] }}<br><br>{{data['rule-92-responding-reason']}}</td>
              <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href="6-R92">Change</td>
            </tr>
          </tbody>
        </table>

          <div class="govuk-!-margin-top-6">
            <button class="govuk-button" data-module="govuk-button">
                Submit
            </button>

            <a href="#" class="govuk-body govuk-link--no-visited-state" style="margin-left: 45px;">Cancel</a>
          </div>
      </form>
</div>


  <div class="govuk-grid-column-one-third">
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Contact
        </span>
      </summary>
      <div class="govuk-details__text">
        Call the Employment Tribunal customer Contact centre if you have any questions about your claim. They cannot give you legal advice or process any updates to your case.
        <br><br>
        If you want to help processing case updates,<a class="govuk-link--no-visited-state" href="#"> contact the tribunal directly</a>.
        <br><br>
        <b>England & Wales</b>
        Telephone: 0300 123 1024
        Textphone: 18001 0300 123 1024
        <br><br>
        <b>Welsh language</b>
        Telephone: 0300 303 5176
        <br><br>
        <b>Scotland</b>
        Telephone: 0300 790 6234
        Textphone: 18001 0300 790 6234
        <br><br>
        Monday to Thursday, 8.30am to 5pm.
        Friday, 8.30am to 4pm.
        The centre does not open on bank holidays.
        Find out about call charges (opens in new tab)
      </div>
    </details>
  </div>

<main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      </div>
    </div>
</main>
{% endblock %}
