//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here


.dashboard-tags {
  text-transform: lowercase;
}

.dashboard-tags::first-letter {
  text-transform: capitalize;
}

.overview-border {
  height: 4px;
  background: #1E6FB8;
  border: none;
}

.section-border {
  height: 3px;
  background: #b1b4b6;
  border: none;
}
