{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
    <span class="govuk-phase-banner__text" style="padding-left: 345px; white-space: nowrap">
      English | <a href="#" class="govuk-link--no-visited-state">Cymraeg</a>
    </span>
  </p>
</div>
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <form action="05-respondent-address" method="post">
    <a href="#" class="govuk-back-link" style="margin-top: -10px" onclick="history.back(-1)">Back</a>
    <span class="govuk-caption-l">Respondent information</span>
    <h1 class="govuk-heading-l">What type of employer is the respondent?</h1>



    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="employer-type-hint">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="employer-type" name="employer-type" type="radio" value="Individual" data-aria-controls="conditional-employer-type">
            <label class="govuk-label govuk-radios__label" for="employer-type">
              Individual
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-employer-type">
            <div class="govuk-form-group">
              <label class="govuk-label" for="preferred-title">
                Preferred title (optional)
              </label>
              <input class="govuk-input govuk-!-width-one-third" id="preferred-title" name="preferred-title">
            </div>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="employer-type-2" name="employer-type" type="radio" value="Limited company" data-aria-controls="conditional-employer-type-2">
            <label class="govuk-label govuk-radios__label" for="employer-type-2">
              Limited company
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-employer-type-2">
            <div class="govuk-form-group">
              <label class="govuk-label" for="company-number">
                Company number (optional)
              </label>
              <input class="govuk-input govuk-!-width-one-third" id="company-number" name="company-number">
            </div>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="employer-type-3" name="employer-type" type="radio" value="Partnership">
            <label class="govuk-label govuk-radios__label" for="employer-type-3">
              Partnership
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="employer-type-4" name="employer-type" type="radio" value="Unincorportated association (such as a sports club)">
            <label class="govuk-label govuk-radios__label" for="employer-type-4">
              Unincorportated association (such as a sports club)
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="employer-type-5" name="employer-type" type="radio" value="Other">
            <label class="govuk-label govuk-radios__label" for="employer-type-5">
              Other
            </label>
          </div>

        </div>
    </fieldset>
    </div>
    <div class="govuk-button-group">
    <button class="govuk-button" data-module="govuk-button" type="submit">
      Save and continue
    </button>

    <button class="govuk-button govuk-button--secondary" type="button" data-module="govuk-button" onclick="window.location.href='/et3-research/saved';">
      Save as draft
    </button>
    </div>
  </form>

  </div>


  <div class="govuk-grid-column-one-third">
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Contact
        </span>
      </summary>
      <div class="govuk-details__text">
        Call the Employment Tribunal customer contact centre if you have any questions about your claim. They cannot give you legal advice or process any updates to your case.
        <br><br>
        If you want to help processing case updates,<a class="govuk-link--no-visited-state" href="employer-type-the-tribunal"> Contact the tribunal directly</a>.
        <br><br>
        <b>England & Wales</b>
        Telephone: 0300 123 1024
        Textphone: 18001 0300 123 1024
        <br><br>
        <b>Welsh language</b>
        Telephone: 0300 303 5176
        <br><br>
        <b>Scotland</b>
        Telephone: 0300 790 6234
        Textphone: 18001 0300 790 6234
        <br><br>
        Monday to Thursday, 8.30am to 5pm.
        Friday, 8.30am to 4pm.
        The centre does not open on bank holidays.
        Find out about call charges (opens in new tab)
      </div>
    </details>
  </div>

<main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      </div>
    </div>
</main>
{% endblock %}
