{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
    <span class="govuk-phase-banner__text" style="padding-left: 345px; white-space: nowrap">
      English | <a href="#" class="govuk-link--no-visited-state">Cymraeg</a>
    </span>
  </p>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a href="overview-2" class="govuk-back-link">Back</a>
    <h1 class="govuk-heading-xl">Your hearings</h1>
    <h2 class="govuk-heading-l">Your next hearing</h2>

    <dl class="govuk-summary-list govuk-summary-list--no-border">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Hearing format
    </dt>
    <dd class="govuk-summary-list__value">
      Telephone
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Estimated hearing length
    </dt>
    <dd class="govuk-summary-list__value">
      	1 hour
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Sit alone or full panel
    </dt>
    <dd class="govuk-summary-list__value">
      Sit alone
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Hearing venue
    </dt>
    <dd class="govuk-summary-list__value">
      <p class="govuk-body">Leeds</p>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Day 1
    </dt>
    <dd class="govuk-summary-list__value">
      <p class="govuk-body">Leeds</p>
      <p class="govuk-body">3 Oct 2022 10:00:00 AM</p>
    </dd>
  </div>
  <!-- <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Day 2
    </dt>
    <dd class="govuk-summary-list__value">
      <p class="govuk-body">Leeds</p>
      <p class="govuk-body">13 Sept 2022 10:00:00 AM</p>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Day 3
    </dt>
    <dd class="govuk-summary-list__value">
      <p class="govuk-body">Leeds</p>
      <p class="govuk-body">14 Sept 2022 10:00:00 AM</p>
    </dd>
  </div> -->
</dl>

<h3 class="govuk-heading-s">Hearing related information</h3>
<p class="govuk-body">
<a class="govuk-link--no-visited-state" href="#">Request hearing support needs</a><br>
<!-- <a class="govuk-link--no-visited-state" href="#">How to provide a bundle for your hearing</a> -->
</p>

<table class="govuk-table">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">23 August 2022</th>
      <td class="govuk-table__cell">Hearing, Case management orders<br><a class="govuk-link--no-visited-state" href="notice-of-hearing">Notice of hearing and submit hearing agenda</a></td>
    </tr>
  </tbody>
</table>
<!--
<h2 class="govuk-heading-l">Your previous hearing</h2>

<dl class="govuk-summary-list govuk-summary-list--no-border">
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
  Hearing format
</dt>
<dd class="govuk-summary-list__value">
  Video
</dd>
</div>
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
  Estimated hearing length
</dt>
<dd class="govuk-summary-list__value">
    3 days
</dd>
</div>
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
  Sit alone or full panel
</dt>
<dd class="govuk-summary-list__value">
  Sit alone
</dd>
</div>
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
  Hearing venue
</dt>
<dd class="govuk-summary-list__value">
  <p class="govuk-body">Leeds</p>
</dd>
</div>
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
  Day 1
</dt>
<dd class="govuk-summary-list__value">
  <p class="govuk-body">Leeds</p>
  <p class="govuk-body">12 July 2021 10:00:00 AM</p>
</dd>
</div>
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
  Day 2
</dt>
<dd class="govuk-summary-list__value">
  <p class="govuk-body">Leeds</p>
  <p class="govuk-body">13 July 2022 10:00:00 AM</p>
</dd>
</div>
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
  Day 3
</dt>
<dd class="govuk-summary-list__value">
  <p class="govuk-body">Leeds</p>
  <p class="govuk-body">14 July 2022 10:00:00 AM</p>
</dd>
</div>
</dl>

<h3 class="govuk-heading-s">Hearing related information</h3>
<p class="govuk-body">
<a class="govuk-link" href="#">Request hearing support needs</a><br>
<a class="govuk-link" href="#">How to provide a bundle for your hearing</a>
</p>

<table class="govuk-table">
<tbody class="govuk-table__body">
<tr class="govuk-table__row">
  <th scope="row" class="govuk-table__header">10 July 2021</th>
  <td class="govuk-table__cell">Hearing<br><a class="govuk-link" href="#">Hearing link information</a></td>
</tr>
<tr class="govuk-table__row">
  <th scope="row" class="govuk-table__header">3 April 2021</th>
  <td class="govuk-table__cell">Hearing<br><a class="govuk-link" href="#">Hearing notice</a></td>
</tr>
<tr class="govuk-table__row">
  <th scope="row" class="govuk-table__header">2 March 2021</th>
  <td class="govuk-table__cell">Hearing, case management orders<br><a class="govuk-link" href="#">Submit hearing agenda</a></td>
</tr>
<tr class="govuk-table__row">
  <th scope="row" class="govuk-table__header">1 Feb 2021</th>
  <td class="govuk-table__cell">Application<br><a class="govuk-link" href="#">Application to postpone a hearing</a></td>
</tr>
</tbody>
</table> -->

</div>

  <div class="govuk-grid-column-one-third govuk-!-margin-top-3">
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Contact
        </span>
      </summary>
      <div class="govuk-details__text">
        Call the Employment Tribunal customer contact centre if you have any questions about your claim. They cannot give you legal advice or process any updates to your case.
        <br><br>
        If you want to help processing case updates,<a class="govuk-link--no-visited-state" href="#"> contact the tribunal directly</a>.
        <br><br>
        <b>England & Wales</b>
        Telephone: 0300 123 1024
        Textphone: 18001 0300 123 1024
        <br><br>
        <b>Welsh language</b>
        Telephone: 0300 303 5176
        <br><br>
        <b>Scotland</b>
        Telephone: 0300 790 6234
        Textphone: 18001 0300 790 6234
        <br><br>
        Monday to Thursday, 8.30am to 5pm.
        Friday, 8.30am to 4pm.
        The centre does not open on bank holidays.
        Find out about call charges (opens in new tab)
      </div>
    </details>
  </div>
</div>
{% endblock %}

{% block content %}


{% endblock %}
