{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
    <span class="govuk-phase-banner__text" style="padding-left: 345px; white-space: nowrap">
      English | <a href="#" class="govuk-link--no-visited-state">Cymraeg</a>
    </span>
  </p>
</div>
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <a href="#" class="govuk-back-link" style="margin-top: -10px" onclick="history.back(-1)">Back</a>

      <form action="restrict-6-Rule92" method="post">

          <div class="govuk-form-group">

            <span class="govuk-caption-l">Restrict publicity</span>
                <h1 class="govuk-heading-l">
                  Provide supporting material
                </h1>

                <div class="govuk-inset-text">
                You do not have to provide anything at this stage but you may upload any documents that could help the tribunal with this application. Anything you upload will be visible to all parties, including the respondent.
              </div>

              <p class="govuk-body">Consider when providing material that:</p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>you can upload letters, photos or documents to support your application</li>
                  <li>if you are taking a picture of a letter, place it on a flat surface and take the picture from above</li>
                  <li>if you are uploading written documents with tracked changes, make sure that tracked changes are turned on</li>
                </ul>


                  <label class="govuk-label" for="more-detail">
                    Use this box to provide any supporting material. You can also upload a file if you wish.
                  </label>
                  <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5"></textarea>

                  <div class="govuk-inset-text">
                  <label class="govuk-label" for="file-upload-1">
                  <b>  Upload a file</b>
                  </label>
                  <input class="govuk-file-upload" id="file-upload-3" name="file-upload-3" type="file"><br><br>
                  <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                    Upload file
                  </button>
                </div>
          </div>

          <div class="govuk-!-margin-top-6">
            <button class="govuk-button" data-module="govuk-button">
                Continue
            </button>

            <a href="overview-1" class="govuk-body govuk-link--no-visited-state" style="margin-left: 45px;">Cancel</a>
          </div>
      </form>

</div>

  <div class="govuk-grid-column-one-third">
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Contact
        </span>
      </summary>
      <div class="govuk-details__text">
        Call the Employment Tribunal customer contact centre if you have any questions about your claim. They cannot give you legal advice or process any updates to your case.
        <br><br>
        If you want to help processing case updates,<a class="govuk-link--no-visited-state" href="contact-the-tribunal"> contact the tribunal directly</a>.
        <br><br>
        <b>England & Wales</b>
        Telephone: 0300 123 1024
        Textphone: 18001 0300 123 1024
        <br><br>
        <b>Welsh language</b>
        Telephone: 0300 303 5176
        <br><br>
        <b>Scotland</b>
        Telephone: 0300 790 6234
        Textphone: 18001 0300 790 6234
        <br><br>
        Monday to Thursday, 8.30am to 5pm.
        Friday, 8.30am to 4pm.
        The centre does not open on bank holidays.
        Find out about call charges (opens in new tab)
      </div>
    </details>
  </div>

<main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      </div>
    </div>
</main>
{% endblock %}
