{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
    <span class="govuk-phase-banner__text" style="padding-left: 345px; white-space: nowrap">
      English | <a href="#" class="govuk-link--no-visited-state">Cymraeg</a>
    </span>
  </p>
</div>
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <a href="#" class="govuk-back-link" style="margin-top: -10px" onclick="history.back(-1)">Back</a>
    <h1 class="govuk-heading-l">Apply to restrict publicity in my case</h1>
    <p class="govuk-body">Use this form to apply to restrict publicity in your case.</p>
    <p class="govuk-body">It is an important principle that justice should normally be delivered in public.</p>
    <p class="govuk-body">However, the tribunal has the power under Rule 50 to prevent or restrict the public disclosure of any aspect of your case if necessary in the interests of justice, or to protect the Convention rights of any person.</p>

    <details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      What are Convention rights?
    </span>
  </summary>
  <div class="govuk-details__text">
    Convention rights are the rights and fundamental freedoms as set out in the Human Rights Act 1998.
  </div>
</details>

    <div class="govuk-inset-text">You will be able to review your application before you submit it.</div>

    <a href="restrict-1-sections" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
      Start now
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
      </svg></a><a href="overview-1" class="govuk-body govuk-link--no-visited-state" style="margin-left: 45px;">Cancel</a>
    </div>

  <div class="govuk-grid-column-one-third">
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Contact
        </span>
      </summary>
      <div class="govuk-details__text">
        Call the Employment Tribunal customer contact centre if you have any questions about your claim. They cannot give you legal advice or process any updates to your case.
        <br><br>
        If you want to help processing case updates,<a class="govuk-link--no-visited-state" href="contact-the-tribunal"> contact the tribunal directly</a>.
        <br><br>
        <b>England & Wales</b>
        Telephone: 0300 123 1024
        Textphone: 18001 0300 123 1024
        <br><br>
        <b>Welsh language</b>
        Telephone: 0300 303 5176
        <br><br>
        <b>Scotland</b>
        Telephone: 0300 790 6234
        Textphone: 18001 0300 790 6234
        <br><br>
        Monday to Thursday, 8.30am to 5pm.
        Friday, 8.30am to 4pm.
        The centre does not open on bank holidays.
        Find out about call charges (opens in new tab)
      </div>
    </details>
  </div>

<main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      </div>
    </div>
</main>
{% endblock %}
