{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
    <span class="govuk-phase-banner__text" style="padding-left: 345px; white-space: nowrap">
      English | <a href="#" class="govuk-link--no-visited-state">Cymraeg</a>
    </span>
  </p>
</div>
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <form action="13-check-your-answers" method="post">
    <a href="#" class="govuk-back-link" style="margin-top: -10px" onclick="history.back(-1)">Back</a>
    <span class="govuk-caption-l">Tell us about the respondent</span>
    <h1 class="govuk-heading-l">Respondent contact preferences</h1>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Postal address
        </dt>
        <dd class="govuk-summary-list__value">
          53-79 Highgate Road, Kentish Town, London, NW5 1TL
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="07-new-respondent-address">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          DX address (optional)
        </dt>
        <dd class="govuk-summary-list__value">
          {% if data['DX-address'] %}
          {{ data['DX-address'] }}
          {% else %}
          Not provided
          {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="10-DX-address">
            Change<span class="govuk-visually-hidden"> DX address</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Contact phone number (optional)
        </dt>
        <dd class="govuk-summary-list__value">
          {% if data['contact-number'] %}
          {{ data['contact-number'] }}
          {% else %}
          Not provided
          {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="10-DX-address">
            Change<span class="govuk-visually-hidden"> DX address</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email address
        </dt>
        <dd class="govuk-summary-list__value">
        hello@reddeltd.co.uk
        </dd>
        <dd class="govuk-summary-list__actions">
          <!-- <a class="govuk-link govuk-link--no-visited-state" href="10-DX-address">
            Change<span class="govuk-visually-hidden"> DX address</span>
          </a> -->
        </dd>
      </div>
    </dl>

    <p class="govuk-body">Normally the tribunal will contact you by email. If you need contact by post, you must explain why.</p>
    <p class="govuk-body">To change your email address, <a class="govuk-link govuk-link--no-visited-state" target=”_blank” href="contact-the-tribunal">contact the tribunal (opens in new tab)</a>.

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              How would you prefer to be contacted?
            </h1>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="Email" data-aria-controls="conditional-contact">
              <label class="govuk-label govuk-radios__label" for="contact">
                Email
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="Post" data-aria-controls="conditional-contact-2">
              <label class="govuk-label govuk-radios__label" for="contact-2">
                Post
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">
              <div class="govuk-form-group">
                <label class="govuk-label" for="contact-by-post">
                  Explain why you have selected post.
                </label>
                <input class="govuk-input govuk-!-width-full" id="contact-by-post" name="contact-by-post">
              </div>
            </div>
            </div>
        </fieldset>
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="language-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              Which language should the tribunal use to contact you?
            </h1>
          </legend>
          <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="language" name="language" type="radio" value="English">
              <label class="govuk-label govuk-radios__label" for="language">
                English
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="language-2" name="language" type="radio" value="Cymraeg">
              <label class="govuk-label govuk-radios__label" for="language-2">
                Cymraeg
              </label>
            </div>
          </div>

        </fieldset>
      </div>


    <div class="govuk-button-group">
    <button class="govuk-button" data-module="govuk-button" type="submit">
      Save and continue
    </button>

    <button class="govuk-button govuk-button--secondary" type="button" data-module="govuk-button" onclick="window.location.href='/et3-research-2/saved';">
      Save as draft
    </button>
    </div>
  </form>

  </div>


  <div class="govuk-grid-column-one-third">
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Contact
        </span>
      </summary>
      <div class="govuk-details__text">
        Call the Employment Tribunal customer contact centre if you have any questions about your claim. They cannot give you legal advice or process any updates to your case.
        <br><br>
        If you want to help processing case updates,<a class="govuk-link--no-visited-state" href="respondent-name-the-tribunal"> Contact the tribunal directly</a>.
        <br><br>
        <b>England & Wales</b>
        Telephone: 0300 123 1024
        Textphone: 18001 0300 123 1024
        <br><br>
        <b>Welsh language</b>
        Telephone: 0300 303 5176
        <br><br>
        <b>Scotland</b>
        Telephone: 0300 790 6234
        Textphone: 18001 0300 790 6234
        <br><br>
        Monday to Thursday, 8.30am to 5pm.
        Friday, 8.30am to 4pm.
        The centre does not open on bank holidays.
        Find out about call charges (opens in new tab)
      </div>
    </details>
  </div>

<main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      </div>
    </div>
</main>
{% endblock %}
