
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Employment Tribunals Prototype
        <!-- <span class="govuk-caption-xl">{{releaseVersion}}</span> -->
      </h1>
        <span class="govuk-caption-m">14 November 2022
        <p><a class="govuk-link govuk-link--no-visited-state" href="#">Multiples, submitting and responding to applications</a></p></span>

        <h2 class="govuk-heading-l">Previous research</h2>

      <h3 class="govuk-heading-m">ET3 Research</h3>

      <span class="govuk-caption-m">v2.0 27 September 2022
      <p><a class="govuk-link govuk-link--no-visited-state" href="et3-research-2/overview-1">ET3 unrepresented response</a></p></span>

        <span class="govuk-caption-m">v1.0 21 September 2022
      <p><a class="govuk-link govuk-link--no-visited-state" href="et3-research/overview-1">ET3 unrepresented response</a></p></span>

      <h3 class="govuk-heading-m">Other</h3>
      <span class="govuk-caption-m">24nd August 2022
      <p><a class="govuk-link govuk-link--no-visited-state" href="research-22Aug/hearing-email">Hearings, Order a witness & Restrict publicity</a></p></span>

      <span class="govuk-caption-m">2nd August 2022
      <p><a class="govuk-link govuk-link--no-visited-state" href="vary-an-order/overview-1">Vary an order & Rule 92</a></p></span>


    </div>
  </div>

{% endblock %}
