
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Employment Tribunals Prototype
        <!-- <span class="govuk-caption-xl">{{releaseVersion}}</span> -->
      </h1>{{releaseVersion | log }}

      <h2 class="govuk-heading-l">ET3 Research</h2>
        <span class="govuk-caption-m">Version 1
      <p><a class="govuk-link govuk-link--no-visited-state" href="et3-research/overview-1">ET3 unrepresented response</a></p></span>


      <!-- <p>You can change the service name by editing the file '/app/config.js'.</p> -->

      <!-- <h2 class="govuk-heading-m">Examples and documentation</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/docs/tutorials-and-examples">Tutorials and templates</a>
        </li>
        <li>
          <a href="https://design-system.service.gov.uk">GOV.UK Design System</a>
        </li>
      </ul> -->
    </div>
  </div>

{% endblock %}
