{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
    <span class="govuk-phase-banner__text" style="padding-left: 345px; white-space: nowrap">
      English | <a href="#" class="govuk-link--no-visited-state">Cymraeg</a>
    </span>
  </p>
</div>
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <a href="#" class="govuk-back-link" style="margin-top: -10px" onclick="history.back(-1)">Back</a>

  <form action="/why-answer" method="post">
    <span class="govuk-caption-l">Vary an order</span>
      <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="why">Why is it in the interests of justice to vary the order?</label></h1>
      <p class="govuk-body">  Please identify any relevant changes of circumstance since the order was made and consider the requirements of the ‘overriding objective’ in Rule 2 of the Employment Tribunal Rules of Procedure.</p>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Rule 2 of the Employment Tribunals Rules of Procedure
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">The overriding objective of these Rules is to enable Employment Tribunals to deal with cases fairly and justly. Dealing with a case fairly and justly includes, so far as practicable: </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>ensuring that the parties are on an equal footing</li>
            <li>dealing with cases in ways which are proportionate to the complexity and importance of the issues</li>
            <li>avoiding unnecessary formality and seeking flexibility in the proceedings</li>
            <li>avoiding delay, so far as compatible with proper consideration of the issues</li>
            <li>saving expense</li>
          </ul>
          </div>
      </details>

        <div class="govuk-form-group">
          <div id="which-part-hint" class="govuk-hint">
            Use both the text box or file upload if you need to.
          </div>
          <textarea class="govuk-textarea" id="why" name="why" rows="5" aria-describedby="why-hint"></textarea>
          <label class="govuk-label" for="file-upload-2">
            Upload a file (optional)
          </label>
          <input class="govuk-file-upload" id="file-upload-2" name="file-upload-2" type="file">


        </div>

          <div class="govuk-!-margin-top-6">
            <button class="govuk-button" data-module="govuk-button">
                Continue
            </button>

            <a href="overview-1" class="govuk-body govuk-link--no-visited-state" style="margin-left: 45px;">Cancel</a>
          </div>
      </form>

</div>

  <div class="govuk-grid-column-one-third">
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Contact
        </span>
      </summary>
      <div class="govuk-details__text">
        Call the Employment Tribunal customer contact centre if you have any questions about your claim. They cannot give you legal advice or process any updates to your case.
        <br><br>
        If you want to help processing case updates,<a class="govuk-link--no-visited-state" href="contact-the-tribunal"> contact the tribunal directly</a>.
        <br><br>
        <b>England & Wales</b>
        Telephone: 0300 123 1024
        Textphone: 18001 0300 123 1024
        <br><br>
        <b>Welsh language</b>
        Telephone: 0300 303 5176
        <br><br>
        <b>Scotland</b>
        Telephone: 0300 790 6234
        Textphone: 18001 0300 790 6234
        <br><br>
        Monday to Thursday, 8.30am to 5pm.
        Friday, 8.30am to 4pm.
        The centre does not open on bank holidays.
        Find out about call charges (opens in new tab)
      </div>
    </details>
  </div>

<main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      </div>
    </div>
</main>
{% endblock %}
