{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
    <span class="govuk-phase-banner__text" style="padding-left: 345px; white-space: nowrap">
      English | <a href="#" class="govuk-link--no-visited-state">Cymraeg</a>
    </span>
  </p>
</div>
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
      <form action="/vary-an-order/overview-2-R92-yes" method="post">
          <h1 class="govuk-panel__title">
            You have sent your application to the tribunal
          </h1>
        </div>

        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">You have sent a copy of your application to the respondent. They will have until 8 August to respond.</p>
        <p class="govuk-body">If they do respond, they are expected to copy their response to you.</p>
        <p class="govuk-body">You may be asked to supply further information. The tribunal will consider all correspondence and let you know what happens next.</p>

          <div class="govuk-!-margin-top-6">
            <button class="govuk-button" data-module="govuk-button">
                Close and return to case overview
            </button>

          </div>
      </form>
</div>


  <div class="govuk-grid-column-one-third">
  </div>

<main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      </div>
    </div>
</main>
{% endblock %}
